@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto Mono", monospace;
  --background: 207 95% 8%;
  --foreground: 201 83% 81%;
  --muted: 207 12% 15%;
  --muted-foreground: 207 12% 65%;
  --popover: 207 95% 5%;
  --popover-foreground: 201 83% 91%;
  --card: 207 95% 6%;
  --card-foreground: 201 83% 86%;
  --border: 207 85% 13%;
  --input: 207 85% 16%;
  --primary: 205 85% 78%;
  --primary-foreground: 205 85% 18%;
  --secondary: 205 30% 25%;
  --secondary-foreground: 205 30% 85%;
  --accent: 207 95% 23%;
  --accent-foreground: 207 95% 83%;
  --destructive: 8 91% 59%;
  --destructive-foreground: 0 0% 100%;
  --ring: 205 85% 78%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
